#!/bin/rc
# 
# Execfs Regression
#

echo '== Execfs Regression =='

#
# Parameters
#
TESTDIR=.test

#
# Cleanup Previous Instances
#
fn cleanup {
	echo Cleaning up previous runs.
	unmount /n/test > /dev/null >[2] /dev/null
	unmount /proc > /dev/null >[2] /dev/null
	bind '#p' /proc
	rm -f /srv/mpipe

	kill mpipefs | rc	# only way to get rid of mpipe turds
}

#
# Startup execfs 
#
fn startup {
	echo Starting mpipefs
	#mpipefs -D -v 9 >[2] mpipe.log
	mpipefs >[2] mpipe.log
	echo Starting execfs.
	#execfs -D -v 9 >[2] execfs.log
	execfs >[2] execfs.log
}

#
# Setup a ramfs
#
fn testdir {
	mkdir -p $TESTDIR
	ramfs -m $TESTDIR
}

fn myexecstdin {
	mypid=`{cat}

	echo -n exec /bin/cat >>[2] execfs.log >>[2] error.log
	cat $TESTDIR/test > /proc/$mypid/stdin >>[2] error.log
	cat /proc/$mypid/stdout > $TESTDIR/test1 >>[2] error.log
}

fn myexecstdout {
	mypid=`{cat}

	echo -n exec /bin/cat $TESTDIR/test >>[2] error.log
	cat /proc/$mypid/stdout > $TESTDIR/test1 >>[2] error.log
}

fn stdout {
	echo -n Basic Test....

	# initialize files
	echo Hello Squidboy > $TESTDIR/test
	echo > $TESTDIR/test1

	# execute test
	myexecstdout <>/proc/clone >[1=0]

	# verify results
	if(! cmp -s $TESTDIR/test $TESTDIR/test1) {
		echo FAILED!
		exit 'stdout: test failed'
	}

	echo Success!
	# cleanup
	rm -rf $TESTDIR/*
}

fn stdin {
	echo -n Stdin Test....

	# initialize files
	echo Hello Squidboy > $TESTDIR/test
	echo > $TESTDIR/test1

	# execute test
	myexecstdin <>/proc/clone >[1=0]

	# verify results
	if(! cmp -s $TESTDIR/test $TESTDIR/test1) {
		echo FAILED!
		exit 'stdout: test failed'
	}

	echo Success!
	# cleanup
	rm -rf $TESTDIR/*
}

# Setup
cleanup
startup
testdir

# Tests
stdout
stdin	#failing

# Cleanup
unmount $TESTDIR
rm -rf $TESTDIR
cleanup
