#!/bin/rc
# 
# Gangfs Regression
#

echo '== Gangfs Regression =='

#
# Parameters
#
GANGLOG=gangfs.log
EXECLOG=execfs.log
MPIPELOG=mpipefs.log
TESTDIR=.test

M_MNTPATH=/tmp/testbed/M
E_MNTPATH=/tmp/testbed/E
G_MNTPATH=/tmp/testbed/G

#M_MNTPATH=/proc
E_MNTPATH=/proc
#G_MNTPATH=/proc

#
# Cleanup Previous Instances
#
fn cleanup {
	echo Cleaning up previous runs.
	unmount /n/mpipetest > /dev/null >[2] /dev/null
	unmount $M_MNTPATH   > /dev/null >[2] /dev/null
	unmount $E_MNTPATH   > /dev/null >[2] /dev/null
	unmount $G_MNTPATH   > /dev/null >[2] /dev/null

	rm -rf /tmp/testbed
	rm -f /srv/mpipe
	rm -f /srv/gangfs

	unmount /proc > /dev/null >[2] /dev/null
	bind '#p' /proc
}

#
# Startup execfs 
#
fn startup {

	mkdir -p $M_MNTPATH $E_MNTPATH $G_MNTPATH

	echo Starting mpipefs....
	if(~ $#* 0) {
		mpipefs $M_MNTPATH >[2] $MPIPELOG 
	}
	if not {
		mpipefs -D -v $1 $M_MNTPATH >[2] $MPIPELOG 	# CHATTY
	}
	bind -bc '#p' $M_MNTPATH
	mount /srv/mpipe /n/mpipetest test

	echo Starting execfs.
	if(~ $#* 0) {
		execfs $E_MNTPATH >[2] $EXECLOG 
	}
	if not {
		execfs -D -v $1 $E_MNTPATH >[2] $EXECLOG  	# CHATTY
	}
	bind -bc '#p' $E_MNTPATH

	echo Starting gangfs.
	if(~ $#* 0) {
		gangfs $G_MNTPATH >[2] $GANGLOG 
	}
	if not {
		gangfs -D -v $1 $G_MNTPATH >[2] $GANGLOG  	# CHATTY
	}
	mount /srv/gangfs $G_MNTPATH
}

#
# Setup a testdirp
#
fn testdir {
	mkdir -p $TESTDIR
}

fn myexec {
	mypid=`{cat} #`
	echo res 5 >>[2] error.log
	echo exec /bin/cat $TESTDIR/test >>[2] error.log
	cat $G_MNTPATH/g$mypid/stdout > $TESTDIR/test1 >>[2] error.log
}

fn myexec2 {
	mypid=`{cat} #`
	echo res 5 >>[2] error.log
	echo exec /bin/cat >>[2] error.log
	cat $TESTDIR/test > $G_MNTPATH/g$mypid/stdin >>[2] error.log
	cat $G_MNTPATH/g$mypid/stdout > $TESTDIR/test1 >>[2] error.log
}

fn myexec3 {
	mypid=`{cat} #`
	echo enum >>[2] error.log
	echo res 5 >>[2] error.log
	echo exec /bin/cat >>[2] error.log
	read -n 5 $TESTDIR/test > $G_MNTPATH/g$mypid/stdin >>[2] error.log &
	cat $G_MNTPATH/g$mypid/stdout > $TESTDIR/test1 >>[2] error.log
}

fn basic {
	echo -n Basic Test....

	# initialize files
	echo Hello Squidboy > $TESTDIR/test
	echo > $TESTDIR/test1

	# execute test
	myexec <>$G_MNTPATH/gclone >[1=0]

	# verify results (yes, I'm lazy)
	cat $TESTDIR/test >  $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	if(! cmp -s $TESTDIR/test2 $TESTDIR/test1) {
		echo FAILED!
		exit 'stdout: test failed'
	}

	echo Success!
	# cleanup
	rm -rf $TESTDIR/*
}

fn stdin {
	echo -n STDIN Test....

	# initialize files
	echo Hello Squidboy > $TESTDIR/test
	echo > $TESTDIR/test1

	# execute test
	myexec2 <>$G_MNTPATH/gclone >[1=0]

	# verify results (yes, I'm lazy)
	cat $TESTDIR/test >  $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	if(! cmp -s $TESTDIR/test2 $TESTDIR/test1) {
		echo FAILED!
		exit 'stdout: test failed'
	}

	echo Success!
	# cleanup
	rm -rf $TESTDIR/*
}

fn enum {
	echo -n Enumerated STDIN Test....

	# initialize files
	echo one   >  $TESTDIR/test
	echo two   >> $TESTDIR/test
	echo three >> $TESTDIR/test
	echo four  >> $TESTDIR/test
	echo five  >> $TESTDIR/test

	echo > $TESTDIR/test1

	# execute test
	myexec3 <>$G_MNTPATH/gclone >[1=0]

	# verify results 
	if(! cmp -s $TESTDIR/test $TESTDIR/test1) {
		echo FAILED!
		exit 'stdout: test failed'
	}

	echo Success!
	# cleanup
	rm -rf $TESTDIR/*
}

# Setup
rfork

cleanup
testdir
startup $1

# Tests
basic
stdin
enum

# Cleanup
rm -rf $TESTDIR
cleanup
