#!/bin/rc
# 
# Gangfs Regression
#

echo '== Gangfs Regression =='

#
# Parameters
#
EXECFSLOG=./execfs.log
TESTDIR=.test

#
# Cleanup Previous Instances
#
fn cleanup {
	echo Cleaning up previous runs.
	rm -rf /srv/mpipe
	unmount /n/test > /dev/null >[2] /dev/null
	unmount /proc > /dev/null >[2] /dev/null
	bind '#p' /proc
	kill execfs | rc
	kill gangfs | rc
}

#
# Startup execfs 
#
fn startup {

	echo Starting execfs...
	execfs -D >[2] execfs.log
	echo Starting gangfs...
	gangfs -D >[2] gangfs.log
	echo Starting mpipefs...
	mpipefs -D >[2] mpipe.log
	sleep 2
}

#
# Setup a ramfs
#
fn testdir {
	mkdir -p $TESTDIR
	ramfs -m $TESTDIR
}

fn myexec {
	mypid=`{cat}
	echo res 5
	cat /proc/g$mypid/stdout > $TESTDIR/test1 &
	echo exec /bin/cat $TESTDIR/test >>[2] gangfs.log
	sleep 5
}

fn myexec2 {
	mypid=`{cat}
	echo res 5
	cat /proc/g$mypid/stdout > $TESTDIR/test1 &
	cat $TESTDIR/test > /proc/g$mypid/stdin
	echo exec /bin/cat >>[2] gangfs.log
	sleep 5
}

fn basic {
	echo -n Basic Test....

	# initialize files
	echo Hello Squidboy > $TESTDIR/test
	echo > $TESTDIR/test1

	# execute test
	myexec <>/proc/gclone >[1=0]

	# verify results (yes, I'm lazy)
	cat $TESTDIR/test > $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	if(! cmp -s $TESTDIR/test2 $TESTDIR/test1) {
		echo FAILED!
		exit 'stdout: test failed'
	}

	echo Success!
	# cleanup
	rm -rf $TESTDIR/*
}

fn stdin {
	echo -n STDIN Test....

	# initialize files
	echo Hello Squidboy > $TESTDIR/test
	echo > $TESTDIR/test1

	# execute test
	myexec2 <>/proc/gclone >[1=0]

	# verify results (yes, I'm lazy)
	cat $TESTDIR/test > $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	cat $TESTDIR/test >> $TESTDIR/test2
	if(! cmp -s $TESTDIR/test2 $TESTDIR/test1) {
		echo FAILED!
		exit 'stdout: test failed'
	}

	echo Success!
	# cleanup
	rm -rf $TESTDIR/*
}

# Setup
cleanup
startup
testdir

# Tests
basic
stdin

# Cleanup
unmount $TESTDIR
rm -rf $TESTDIR
cleanup
