#!/bin/rc
# 
# a UEM Scale Test Run
#

TESTDIR=pbg_scale

R_MAX=16
#R_MAX=2048

TESTNUM=''

fn enum_tests {
    TESTNUM=`{awk 'BEGIN     {
	for (i = 1; i <= '$R_MAX'; i*=2) printf "%d ",i
	exit }'}
     #`# shut up the code coloring bug...
}

if(~ $#* 0) DEBUG='0x00'
if not DEBUG=$1

enum_tests

echo -n 'TESTNUM= '
echo $TESTNUM

EXT='1'

mkdir -p $TESTDIR

for(i in $TESTNUM){
  echo '############ starting next '$i' ############'
  mk tidy
  rc scale.rc $i $DEBUG

  echo '############ processing /'$i'/ ############'
  if(~ $#* 0) {
      mv $TESTDIR/time_$i^.dat  $TESTDIR/time_$i^_sav.dat
      $O.time-stat -i $TESTDIR/time_$i^_sav.dat -o  $TESTDIR/time_$i^.out
  }
  if not {
      mv $TESTDIR/time_$i^.dat  $TESTDIR/time_$i^_$1^_sav.dat
      $O.time-stat -i $TESTDIR/time_$i^_$1^_sav.dat -o  $TESTDIR/time_$i^_$1^.out
  }
  echo ''
}
mk tidy
